*{
    /*margin: 0px;
    padding: 0px;

    */
}
.slider {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#tl{
    width: 49%;
    text-align: center;
    display: inline-block;

}

#headerb{
    display: inline-flex;
    width: 90%;
    height: 300px;
    
    
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    


}

#logoS{
    
    
    width: 60%;
    height: 100%;
    
    text-align: center;
    
    
      
}

#logoimg{
    width: 95%;
    height: 100%;    
}

#redes{
    
    width: 40%;
    height: 50%;
    background: gray;
    text-align: center;
    
    

}

.rbtn{
    width: 19%;
    height: 50px;
    border-radius: 100%;
    text-align: center; 
}



#menu{
    
    width: 90%;
    height: auto;
    display:inline-flexbox; 
    
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#objmenu{
    display:inline-block; 
    width: 24%;
    text-align:center;
    vertical-align: middle;
    
    height:50px;
    background:gray;
    margin-left: auto;
    margin-right: auto;
    
}

a{
  color: aqua;
  text-decoration: none;
 
  
  

}

#objsubmenu{
  display: none; 
  width: 10%;
  color: aqua;

}




.ont{
    width: 100%;
    height: 400px;
    text-align: center;
}

.gal{
    width: 20%;
    height: 50%;
    
    text-align: center;
}

#tlb{
    background-color:gray;
    width: 100%;
    display: inline-flex;
    text-align: left;
    left: 0;
    bottom: 0;
    
}

#tl{
    color: black;
}

/*   asdasdas   */

.containergaleria{
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    
    width: 90%;
    height: auto;
    text-align: center;
    
}

.cardbox{
  display: inline-block;
  width: 45%;
  height: 200px;
  margin: 1%;
  border-style: solid; 
  border-width: 1px;
  border-color: gray;
  
  
  
}

.cardboximgdiv{
    
    width: 50%;
    height: 100%;
    
    float: left;
    
    

}   

.carboxtextdiv{
    float: right;
    width: 50%;
    height: 100%;
    
    overflow-y: hidden;
    background: lightskyblue;
}



.cardboximg{
    
    width: 100%;
    height: 100%;
    
    float: left;
}

.carboxtextdiv p{
    color: black;
    align-content: center;
    
    word-wrap: break-word;
    word-break: break-all;
    margin: 5%;
    
    
}

.parrafocentral{
    display: inline-flexbox;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.parrafocentral p{
    
    text-align: left;
    text-justify: auto;
    
}

.parrafocentral #titulo{
    
    text-align: center;
    text-justify: auto;
    
}

.imagenSeccionFundacion{
    display: inline-flexbox;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#titulogeneralseccionfundacion{
    text-align: center;
    text-justify: auto;
    
}


/*   ARTICULOS*/

.cardboxAR{
    display: inline-block;
    width: 70%;
    height: 200px;
    margin: 1%;
    border-style: solid; 
    border-width: 1px;
    border-color: gray;
    
    
    
  }