

body {
    /*background-image: url(../img/1080-2.jpg);*/
    background-color: whitesmoke;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', serif;
    
}


/* -------------LOGO y REDES SOCIALES -----------*/

/* #headerb{
    display: inline-flexbox;
    width: 100%;
    height: 300px;
    top: 0;
    
    
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    
    
} */

#logoS{
    
    
    width: 100%;
    height: 100%;
    
    text-align: center; 
}

#logoimg{
    width: 100%;
    height: 100%;
    text-align: center; 
}


#redes {
    background: rgb(124, 46, 46);
    width: 25%;
    height: 18%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
   
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }

  #botonesRedescol{
      width: 100%;
      height: 100%;
      
  }

  .rbtn{
    width: 15%;
    height: 15%;
    border-radius: 100%;
    text-align: center;
    margin: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

#prcol{
    height: 25%;
    text-align: center;
    vertical-align: middle;
    
    
    
}

#redes p{
    font-size: 100%;
    vertical-align: middle;
    color: aliceblue;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* --------------------MENU -------------------------------*/






.menu{
    display:flex; 
    margin: auto;
    width: 100%;
    height: auto;

    text-align:center;
    
}

.objmenu p{
    font-size: 160%;
    margin-top: auto;
    margin-bottom: auto;
    
}


.objmenu{
    
    display:inline-flex;
    width: 40%;
    height:50px;
    background:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
    /*border-left-width: 1px;
    border-right-width: 1px;
    */
      
}

.objmenu p{
    color:rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    
}
a{
  color: aqua;
  text-decoration: none;
 
  
  

}

#objsubmenu{
  display: none; 
  width: 10%;
  color: aqua;

}




.ont{
    width: 100%;
    height: 400px;
    text-align: center;
}

.gal{
    width: 20%;
    height: 50%;
    
    text-align: center;
}
/* --------------------CARRUSEL -------------------------------*/

#carouselExampleIndicators{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
}

#carousel-item-active{
    width: 100%;
    height: 500px;
    


}


#imgcarousel{   
        height: inherit;
    
}


/* --------------------FOOTER -------------------------------*/
#tlb{
    background-color:rgb(0, 0, 0);
    width: 100%;
    display: inline-block;
    text-align: left;
    bottom: 0;
    
    
}

#tl{
    color: snow;
    width: 30%;
    
}






/*---------------------------------seccion cardbox---------------------------------  */

#containercardboxpricipal{
    width: 80%;
  }
  
  
  #cardboxContainer{
      width: 100%;
      height: auto;
      margin-top: 4%;
      margin-bottom: 4%;
      background-color: black;
      border-radius: 2%;
      
  }
  
  #seccionimagen{
      width: 100%;
      text-align: center;
      background-color:inherit;
      
     }
  
  #imagencardbox{
      
      width: 100%;
      height: 200px;


      background-color: inherit;
      justify-content: center;
      align-items: center;
      border-radius: 2%;
  }
  
  #secciontexto{
      
      background-color: inherit;
      margin-bottom: 3%;
  }
  
  .titulocardboxindex{
      background-color: inherit;
      color: white;
      text-justify: auto;
      margin: 4%;
      font-size: 150%;
  }
  
  



/* FUNDACION */

.parrafocentral{
    display: inline-flexbox;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.parrafocentral p{
    
    text-align: left;
    text-justify: auto;
    
}

.parrafocentral #titulo{
    
    text-align: center;
    text-justify: auto;
    
}

.imagenSeccionFundacion{
    display: inline-flexbox;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#titulogeneralseccionfundacion{
    text-align: center;
    text-justify: auto;
    
}


/*   ARTICULOS*/

.cardboxAR{
    display: inline-block;
    width: 70%;
    height: 250px;
    margin: 1%;
    border-style: solid; 
    border-width: 1px;
    border-color: gray;
    
    
    
  }

  .cardboxAR .cardboximgdiv{
    
    float: left;
    display: inline-flex;
    width: 40%;
    height: 100%;
    
    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: yellow;
    
    

}   

.cardboxAR .cardboxtextdiv{
    float: right;
    width: 60%;
    height: 100%;
    
    overflow-y: hidden;
    
}

.cardboxAR .cardboximgdiv .cardboximg{
    width: 100%;
    height: 100%;
    border-radius: 0%;
    
    background:inherit;
    overflow: hidden;
    
}


/* proyectos */

.cardboxPR{
    display: inline-flexbox;
    width: 80%;
    height: auto;
    margin: 1%;
    border-style: solid; 
    border-width: 1px;
    border-color: gray;
    margin-left: auto;
    margin-right: auto;
    
    
    
  }

.cardboxPR p{
   margin: 2%;

}


.cardboxPR  .cardboximg{
    width: 40%;
    height: 40%;
    float: left;
    margin: 2%;
    border-radius: 0%;
    
    background:inherit;
    overflow: hidden;
}

.cardboxPR  .cardboximg2{
    width: 100%;
    height: 100%;
    margin: 2%;
    border-radius: 0%;
    
    background:inherit;
    overflow: hidden;
}

/* premios */

.premios{
    display: inline-flexbox;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.premios #premio{
    text-align: left;
    margin: 1%;
    height: auto;
}

/* ------------------------------------------------------------------------ */

@media (min-width: 0px) and (max-width: 800px){
    #carousel-item-active{
        width: 100%;
        height: 250px;
        
    
    
    }

    #carouselExampleIndicators{
        width: 100%;
        
       
    }

    .objmenu p{
        font-size: 90%;
    }

    #redes p{
        font-size: 50%;
        
    }

    #redes {
       
        height: 40px;
      
      }

    
}


